STARTCOMPONENT
type com.slab.dido.DIDOComponent
host 127.0.0.1 2001
ENDCOMPONENT

STARTCOMPONENT
type com.slab.nlp.CanningComponent
host 127.0.0.1 2001
ENDCOMPONENT

STARTCOMPONENT
type com.tts.MaryTTSComponent
host 127.0.0.1 2001
userclasspath .:jars/marytts-lang-en-5.0.jar:jars/marytts-server-5.0-jar-with-dependencies.jar:jars/emospeak.jar:jars/voice-cmu-rms-hsmm-5.0.jar:jars/voice-cmu-slt-hsmm-5.0.jar
componentargs -male
ENDCOMPONENT

STARTCOMPONENT
pause 1500
type com.simspeech.SimSpeechRecognitionComponent
host 127.0.0.1
componentargs -g -cfg com/simspeech/config/dido -nlp com.slab.nlp.CanningComponent
ENDCOMPONENT

STARTCOMPONENT
type com.adesim.ADESimEnvironmentComponent
host 127.0.0.1 2001
componentargs -g -cfg com/adesim/config/200Boston.xml -view 1313
ENDCOMPONENT

STARTCOMPONENT
type com.adesim.SimPioneerComponent
componentargs -g Camera Lasers -initpose 11.5 -5.5 4.7123
//componentargs -initpose 11.5 -5.5 4.7123
//componentargs -initpose -2.6 -0.2 -1.5708
componentargs -initpose -12.70 -2.53 1.5708
//componentargs -initpose -12.70 -0.53 1.5708
userclasspath jars/vecmath.jar
host 127.0.0.1 2001
ENDCOMPONENT

#STARTCOMPONENT
#type com.prolog.JPLComponent
#host 127.0.0.1 2001
#userclasspath .:/usr/local/lib/swipl-6.2.6/lib/jpl.jar
#javavmargs -Djava.library.path=/usr/local/lib/swipl-6.2.6/lib/x86_64-linux
#ENDCOMPONENT

#STARTCOMPONENT
#pause 3000
#type com.dialogue.belief.BeliefComponent
#host 127.0.0.1 2001
#ENDCOMPONENT

#STARTCOMPONENT
#type com.slug.nlp.NLPComponent
#host 127.0.0.1 2001
#userclasspath jars/MinkParser.jar:jars/onr.jar:jars/tagger.jar:jars/weka.jar:jars/simplenlgv4.3.jar:.
#componentargs -tagger:train tagger:com/discourse/models/CReST/crest.cooked -parser:actionalgorithm parser:NaiveBayes -parser:config parser:com/discourse/config/allfeatures.config -parser:dictName   parser:com/discourse/models/dictionaries/ispy.dict.1 -parser:actionclassifier parser:com/slug/nlp/mini_language_model/all_penn.arff -semdict com/slug/sim/muriapr12.check.sem -usespex -usedialog -usebelief -dev
#componentargs -tagger:train tagger:com/discourse/models/CReST/crest.cooked -parser:actionalgorithm parser:NaiveBayes -parser:config parser:com/discourse/config/allfeatures.config -parser:dictName   parser:com/discourse/models/dictionaries/ispy.dict.1 -parser:actionclassifier parser:com/slug/nlp/mini_language_model/all_penn.arff -semdict com/slug/sim/muriapr12.check.sem -usebelief -usedialog -versiondialog com.slug.dido.DIDOComponent -dev
#ENDCOMPONENT

STARTCOMPONENT
pause 2000
type com.motion.MotionComponent
//componentargs -deadreck -critical 0.6 -deftv 0.35 -defrv 0.2 -slowtv 0.25 -slowrv 0.2 -tol 0.2 -teps 0.025
componentargs -deadreck -critical 0.2 -deftv 0.85 -defrv 0.6 -slowtv 0.65 -slowrv 0.4 -tol 0.2 -teps 0.025
host 127.0.0.1 2001
ENDCOMPONENT

#STARTCOMPONENT
#pause 1500
#type com.spex.SpexComponent
#host 127.0.0.1 2001
#componentargs -lowOnly -pos -lasers -scfg room # -map com/spex/maps/demo_fallback.xml -startAt 9
#userclasspath jars/vecmath.jar
#ENDCOMPONENT

#STARTCOMPONENT
#type com.action.GoalManagerPriority
#host 127.0.0.1 2001
#componentargs -component com.spex.SpexComponent -component com.dialogue.belief.BeliefComponent -component com.motion.MotionComponent -component com.adesim.SimPioneerComponent -dbfilesupp com/action/db/muri-nofunnybusiness.xml -script spin self -- -agentname self
#userclasspath jars/MinkParser.jar
#ENDCOMPONENT
